.bslide-area{
    width: 1040px;
    height: 511px;
    padding-left: 10px;
    padding-right: 10px;
    background: #E8ECE6;
    
}
.SwiperSlide{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.border-box{
    margin-left: 10px;
    width: 290px;
    height: 350px;
    border: 2px solid #FFF;
    opacity: 0.699999988079071;
}
.slide-1{
    opacity: 0.699999988079071;
    width: 350px;
    height: 400px;
    background-size: cover ;
    background-position: center;
    background-image: url(../../images/Bg.png)
}
.slide-1 h5{
    color: #FFF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 60px;
    padding: 30px;
}
.slide-1 p {
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-right: 30px;
    padding-left: 30px;
}
.slide-1 .slide-btn{
    color:#FFF;
    border:none;
    display: inline-flex;
    padding: 11px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px; 
    text-decoration-line: underline;
    text-transform: capitalize;
    
}
.slide-1 .slide-btn2{
    width: 24px;
    height: 0px;
    color:#FFF;
    margin-left: -30px;
    margin-bottom: 30px;
    border:none;
    display: inline-flex;
    
}
.slide-2{
    width: 350px;
    height: 400px;
    background-size: cover ;
    background-position: center;
    background-image: url(../../images/Bg2.png)
}
.slide-3{
    width: 350px;
    height: 400px;
    background-size: cover ;
    background-position: center;
    background-image: url(../../images/Bg3.png)
}

.slide-text h4{
    justify-content: center;
    justify-items: flex-start;
    padding:8px;
    color: #0A4D1E;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.slide-text .text2 {
    margin-right: 155px;
    margin-left: 155px;
}