.banner-area {
    width: 100%;
    height: auto;
    padding: 60px; 
}
.banner-content{
    width: 390px;
    height: 325px;
    margin-right: 20px;
    padding-top: 35%;
}
.banner-content h2{
    color: #0A4D1E;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 40px;
}
.banner-content p{
    color:#0A4D1E;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
}
.next-back .back{
    width: 30px;
    height: 30px;
    color: #0A4D1E; 
}
.next-back .next{
    width: 30px;
    height: 30px;
    color: #0A4D1E; 
}





.banner-slide{
    width: 100%;
    height: auto;
    
}